@model PlaylistMVC.Models.CreateSongInfoModelView

@{
    ViewData["Title"] = "Create";
}

<h1>Add to Playlist</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" style="display:inline">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.SongInfo.SongName" class="control-label">Enter Song Name</label>
                <input asp-for="@Model.SongInfo.SongName" class="form-control" />
                <span asp-validation-for="@Model.SongInfo.SongName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.SongInfo.ArtistName" class="control-label">Enter Artist Name</label>
                <input asp-for="@Model.SongInfo.ArtistName" class="form-control" />
                <span asp-validation-for="@Model.SongInfo.ArtistName" class="text-danger"></span>
            </div><br />

            <div>
                @for (var index = 0; index < @Model.Genres.Count(); index++)
                {
                    <input type="checkbox" asp-for="@Model.Genres[index].IsChecked" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model.Genres[index].IsChecked">
                        @Model.Genres[index].LabelName
                    </label>
                    <input type="hidden" asp-for="@Model.Genres[index].Id" />
                    <input type="hidden" asp-for="@Model.Genres[index].LabelName" />
                    <br />
                }
            </div>
            <form asp-action="Create" style="display:inline">
                <button class="button-edit" type="submit" value="Create">Create</button>
            </form>
            <form asp-action="Index" style="display:inline">
                <button class="button-details" type="submit">Back to List</button>
            </form>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
